.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 0.8rem;
}

.header .navbar a:hover {
  color: #29d9d5;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.logo .logo-icon {
  color: #29d9d5;
  padding-right: 0.5rem;
}

.navbar {
  width: 70%;
  display: flex;
  align-items: center;
}

.navbar .nav-left {
  margin: auto;
  text-align: center;
}

.navbar .nav-right {
  margin: auto;
  text-align: center;
}

.navbar .nav-icon {
  padding-right: 0.5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
